@font-face {
  font-family: haas;
  src: url(./fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: haas;
  font-weight: 100;
  src: url(./fonts/NeueHaasDisplayThin.ttf);
}

@font-face {
  font-family: haas;
  font-weight: 200;
  src: url(./fonts/NeueHaasDisplayRoman.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: haas;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  z-index: 10;
  background-color: transparent;
}

#loader {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 99;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  -webkit-transition: all linear 0.6s;
  -o-transition: all linear 0.6s;
  transition: all linear 0.6s;
}

#loader h1 {
  font-size: 7vw;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(orange),
    to(orangered)
  );
  background: -o-linear-gradient(left, orange, orangered);
  background: linear-gradient(to right, orange, orangered);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  opacity: 0;
  -webkit-animation-name: loader;
  animation-name: loader;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

#loader h1:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

#loader h1:nth-child(3) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes loader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
  overflow: hidden;
}

nav {
  padding: 2.5vw 0vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

#nav-part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1vw;
}

#nav-part2 h4 {
  font-size: 17px;
  padding: 10px 17px;
  border: 1px solid #0000005e;
  border-radius: 50px;
  color: #000000;
  position: relative;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  overflow: hidden;
  letter-spacing: -0.03em;
  z-index: 1;
}

#nav-part2 h4::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  z-index: -1;
}

#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part2 h4:hover {
  color: #fff;
}

#menu {
  display: none;
}

#center {
  height: 75vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 3.2vw;
  border-bottom: 1px solid #67676755;
}

#center h3 {
  width: 25vw;
  font-size: 2vw;
  line-height: 2.3vw;
  width: 48%;
}

#center h1 {
  font-size: 9.7vw;
  line-height: 8vw;
  text-align: end;
}

#page1 video {
  position: relative;
  width: 100%;
  margin-top: 3.5vw;
  border-radius: 25px;
}

#hero-shape {
  position: absolute;
  width: 50vw;
  height: 40vw;
  right: 0;
  top: 82vh;
}

#hero-1 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fe330c),
    to(#f93e19)
  );
  background: -o-linear-gradient(#fe330c, #f93e19);
  background: linear-gradient(#fe330c, #f93e19);
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  position: absolute;
}
#hero-2 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fe330c),
    to(#f93e19)
  );
  background: -o-linear-gradient(#fe330c, #f93e19);
  background: linear-gradient(#fe330c, #f93e19);
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  position: absolute;
  -webkit-animation-name: anime2;
  animation-name: anime2;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
#hero-3 {
  background-color: #fe330c;
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  position: absolute;
  -webkit-animation-name: anime1;
  animation-name: anime1;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes anime1 {
  from {
    -webkit-transform: translate(55%, -5%);
    transform: translate(55%, -5%);
  }
  to {
    -webkit-transform: translate(0%, 10%);
    transform: translate(0%, 10%);
  }
}

@keyframes anime1 {
  from {
    -webkit-transform: translate(55%, -5%);
    transform: translate(55%, -5%);
  }
  to {
    -webkit-transform: translate(0%, 10%);
    transform: translate(0%, 10%);
  }
}
@-webkit-keyframes anime2 {
  from {
    -webkit-transform: translate(10%, -5%);
    transform: translate(10%, -5%);
  }
  to {
    -webkit-transform: translate(-25%, 35%);
    transform: translate(-25%, 35%);
  }
}
@keyframes anime2 {
  from {
    -webkit-transform: translate(10%, -5%);
    transform: translate(10%, -5%);
  }
  to {
    -webkit-transform: translate(-25%, 35%);
    transform: translate(-25%, 35%);
  }
}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 7vw 0;
  position: relative;
}

#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

.content {
  white-space: nowrap;
  display: inline-block;
  margin-right: 10px;
  -webkit-animation-name: movetext;
  animation-name: movetext;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}

#dot {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #fe330c;
  display: inline-block;
  margin: 1vw 1.8vw;
}

@-webkit-keyframes movetext {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes movetext {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

#page2-bottom {
  height: 80vh;
  width: 100%;
  padding: 6vw 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2vw;
  position: relative;
  z-index: 1;
}

#page2-bottom h1 {
  font-size: 4.1vw;
  width: 61%;
  line-height: 4.1vw;
}

#bottom-part2 {
  width: 19%;
  position: absolute;
  right: 7vw;
  bottom: -3vw;
}

#bottom-part2 img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

#bottom-part2 p {
  margin-top: 3vw;
  font-weight: 200;
  font-size: 1vw;
}
#page2 #gooey {
  height: 33vw;
  width: 33vw;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#fe330c),
    to(#f87408)
  );
  background: -o-linear-gradient(bottom left, #fe330c, #f87408);
  background: linear-gradient(to top right, #fe330c, #f87408);
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 25%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  -webkit-animation-name: gooey;
  animation-name: gooey;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes gooey {
  from {
    -webkit-transform: translate(10%, -8%) skew(0);
    transform: translate(10%, -8%) skew(0);
  }
  to {
    -webkit-transform: translate(-3%, 3%) skew(-13deg);
    transform: translate(-3%, 3%) skew(-13deg);
  }
}

@keyframes gooey {
  from {
    -webkit-transform: translate(10%, -8%) skew(0);
    transform: translate(10%, -8%) skew(0);
  }
  to {
    -webkit-transform: translate(-3%, 3%) skew(-13deg);
    transform: translate(-3%, 3%) skew(-13deg);
  }
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 5vw 0;
}

#page3 #initial {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5vw;
  padding: 1vw 1.5vw;
  margin-bottom: 2vw;
}

#initial h4 {
  font-weight: 200;
}

#page3 #reddot {
  height: 0.5vw;
  width: 0.5vw;
  background-color: red;
  border-radius: 50%;
}

.elem {
  height: 14%;
  width: 100%;
  position: relative;
  padding: 2.5vw 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #6564646b;
  overflow: hidden;
}

.elem h1 {
  font-size: 3vw;
  position: relative;
  z-index: 1;
}

.elem h5 {
  font-weight: 200;
  text-align: end;
  font-size: 1vw;
  position: relative;
  z-index: 1;
}

.elem h5 span {
  font-weight: 200;
  color: #5857579d;
  font-size: 1vw;
}

.elem .overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(245, 151, 44);
  position: absolute;
  left: 0;
  top: -100%;
  -webkit-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.elem:hover .overlay {
  top: 0;
}

#fixed-image {
  width: 25vw;
  height: 29vw;
  position: fixed;
  z-index: 11;
  border-radius: 20px;
  left: 50%;
  top: 20%;
  display: none;
  background-size: cover;
  background-position: center;
}

#page3-bottom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3.5vw 2vw;
  position: relative;
}

#button {
  border: 1px solid #0000005e;
  padding: 0.95vw 1.4vw;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#button h4 {
  font-size: 1.02vw;
}

#button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: -1;
}

#button:hover::after {
  bottom: 0;
  border-radius: 0;
}

#button:hover {
  color: #fff;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

#page4 #outer-container {
  height: 110vh;
  width: 100%;
  background-color: #000000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#page4 #left {
  width: 47%;
  height: 100%;
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#page4 #left #content {
  width: 70%;
  color: #ffffffe2;
  margin: auto;
}

#h1-container {
  border-left: 2px solid #504a45;
}

#page4 #left h1 {
  font-size: 4.6vw;
  line-height: 5.5vw;
  cursor: pointer;
}

#page4 #left h1:nth-child(2) {
  color: #504a45;
  margin-left: 2vw;
}
#page4 #left h1:nth-child(3) {
  color: #504a45;
  margin-left: 2vw;
}

#page4 #left p {
  font-size: 1.02vw;
  font-weight: 200;
  padding: 1vw 0;
  letter-spacing: 0.4px;
}

#page4 #right {
  width: 53%;
  height: 100%;
}

#page4 #right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 20px;
}

#page5 {
  height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 10vw 6vw;
}

#page5 #intro {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5vw;
  padding: 1vw 0vw;
  margin-top: -3vw;
}

#intro h4 {
  font-weight: 200;
}

#page5 #reddot {
  height: 0.5vw;
  width: 0.5vw;
  background-color: red;
  border-radius: 50%;
}

.swiper {
  width: 100%;
  height: 75%;
  margin-top: 4vw;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  border-left: 1px solid #bcbcbb;
  padding: 0 2vw;
}

.swiper-slide:nth-child(n) {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.swiper-slide img {
  margin-left: -40%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-slide p {
  margin-top: 1.5vw;
  font-weight: 200;
  font-size: 1.1vw;
  text-align: left;
}

#page6 {
  height: 110vh;
  width: 100%;
}

#footer {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#000),
    to(rgb(249, 100, 20))
  );
  background: -o-linear-gradient(bottom, #000, rgb(249, 100, 20));
  background: linear-gradient(to top, #000, rgb(249, 100, 20));
  position: fixed;
  z-index: 9;
  color: #fff;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0vw 2vw;
}

#footer h1 {
  font-size: 23.5vw;
  height: 52%;
}

#footer-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3.8vw;
}

#footer-top #left {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 3.5vw;
}

#footer-top h3 {
  font-size: 2.1vw;
}

#footer-top #right {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1vw;
  margin-right: 4vw;
}

#right h4 {
  font-size: 1.3vw;
  font-weight: 200;
  letter-spacing: 0.2px;
}

#right #email {
  font-weight: 100;
  letter-spacing: 0.2px;
  font-size: 1.2vw;
  color: #d8b9aa;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
  border-bottom: 1px solid #ea755a;
}

#footer-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #504a45;
  padding: 1vw 0;
  margin-bottom: 2vw;
}

#footer-bottom h4 {
  font-weight: 200;
  font-size: 1.11vw;
  margin-top: 0;
}

#full-scr {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background-color: #00000070;
  position: fixed;
  z-index: 99;
  top: -100%;
  -webkit-transition: all ease 0.45s;
  -o-transition: all ease 0.45s;
  transition: all ease 0.45s;
}

#full-div1 {
  height: 52%;
  width: 100%;
  background-color: #efeae3;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#full-div1 #heading {
  text-align: end;
  padding: 0vw 3vw;
  margin-bottom: 8vw;
}

#full-div1 h3 {
  font-size: 14.5vw;
  line-height: 18vw;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  #loader h1 {
    font-size: 15vw;
  }

  #page1 {
    width: 100%;
  }

  nav {
    padding: 5.5vw 3vw;
  }

  nav img {
    height: 10vh;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }

  #nav-part2 {
    display: none;
  }

  #menu {
    width: 33%;
    border: 1px solid #a2a2a2;
    border-radius: 50px;
    padding: 3vw 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  nav h3 {
    display: block;
    font-weight: 200;
    font-size: 4.5vw;
    margin-right: -1.5vw;
  }

  nav i {
    font-size: 6vw;
  }

  #center {
    height: 52vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 7vw 3vw 11vw;
  }

  #center h3 {
    width: 82%;
    font-size: 5.2vw;
    line-height: 5.8vw;
  }

  #center h1 {
    font-size: 16vw;
    line-height: 15vw;
  }

  #page1 video {
    position: relative;
    width: 92%;
    height: 60vh;
    -o-object-fit: cover;
    object-fit: cover;
    margin-left: 4%;
    margin-top: 7vw;
    border-radius: 15px;
  }

  #hero-shape {
    width: 55vw;
    height: 75vw;
    right: 0;
    top: 58vh;
  }

  #page2 {
    padding: 10vw 0;
    position: relative;
  }

  .content {
    margin-right: 5px;
  }

  #moving-text h1 {
    font-size: 9vw;
  }

  #dot {
    width: 4.2vw;
    height: 4.2vw;
    margin: 0.7vw 1.2vw;
  }

  #page2-bottom {
    height: 75vh;
    padding: 9vw 5.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4.5vw;
  }

  #page2-bottom h1 {
    font-size: 6.5vw;
    width: 95%;
    line-height: 5.8vw;
  }

  #bottom-part2 {
    width: 70%;
    margin-right: 16vw;
    margin-bottom: 8vw;
  }

  #bottom-part2 p {
    margin-top: 4vw;
    font-size: 3.8vw;
  }

  #page2 #gooey {
    height: 70vw;
    width: 72vw;
    top: 24%;
    left: 23%;
  }

  #page3 {
    min-height: 100vh;
    width: 100%;
    padding: 1vw 0;
  }

  #page3 #initial {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1vw;
    padding: 1vw 1.8vw;
    margin-bottom: 3vw;
    margin-top: 0%;
  }

  #page3 #reddot {
    height: 2vw;
    width: 2vw;
  }

  .elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    padding: 3vw 4vw;
    border: none;
  }

  .elem img {
    width: 100%;
    height: auto;
    margin-bottom: 2vw;
    border-radius: 10px;
  }

  .elem h1 {
    font-size: 9vw;
    text-align: center;
    margin: 8px 0;
  }

  .elem h5 {
    font-size: 6vw;
    text-align: start;
  }

  .elem h5 span {
    font-size: 4.4vw;
    font-weight: 200;
    color: #5857579d;
  }

  .overlay {
    display: none;
  }

  #fixed-image {
    display: none;
  }

  #page3-bottom {
    margin-top: -2vw;
    padding: 3.5vw 4vw;
  }

  #button {
    padding: 3.5vw 5vw;
    margin-top: 2vw;
    position: relative;
    z-index: 1;
  }

  #button h4 {
    font-size: 4.3vw;
  }

  #page4 {
    padding: 5vw 6vw;
  }

  #page4 #outer-container {
    height: 85vh;
    width: 100%;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  #page4 #left {
    width: 100%;
    height: 100%;
    padding: 7vw 0 7vw 4vw;
  }

  #page4 #left #content {
    width: 70%;
    margin-left: 7vw;
  }

  #h1-container {
    border-left: 3px solid #504a45;
  }

  #page4 #left h1 {
    font-size: 8.5vw;
    line-height: 9vw;
  }

  #page4 #left p {
    width: 106%;
    font-size: 3vw;
    margin-top: 4vw;
  }

  #page4 #right {
    width: 100%;
  }

  #page4 #right img {
    border-radius: 13px;
  }

  #page5 {
    height: 75vh;
    width: 100%;
    background-color: #efeae3;
    padding: 3vw 4vw;
  }

  #page5 #intro {
    width: 50vw;
    gap: 1vw;
    margin-top: -4vw;
  }

  #intro h4 {
    font-weight: 200;
  }

  #page5 #reddot {
    height: 2vw;
    width: 2vw;
  }

  .swiper {
    width: 100%;
    height: 100%;
    margin-top: 15vw;
  }

  .swiper-slide {
    width: 30%;
    padding: 0vw;
  }

  .swiper-slide img {
    height: 38px;
    margin-left: 2vw;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .swiper-slide p {
    width: 180%;
    margin-left: 2vw;
    font-size: 2.5vw;
  }

  #page6 {
    height: 80vh;
  }

  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  #footer h1 {
    font-size: 23.5vw;
    height: 15vh;
    margin-top: 5vw;
  }

  #footer-top {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  #footer-top #left {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1vw 3.5vw;
  }

  #footer-top h3 {
    font-size: 9vw;
  }

  #footer-top #right {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4vw;
    margin-top: 3vw;
    padding: 1vw 4vw;
  }

  #right h4 {
    font-size: 4.3vw;
  }

  #right #email {
    font-size: 4vw;
    color: #8e8e8e;
    border-bottom: 1.5px solid #606060aa;
  }

  #footer-bottom {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #footer-bottom h4 {
    font-size: 4vw;
    margin-top: 2vw;
  }
}
